table{
  width: 35%;
  text-align: center;
}
table,th,td {
  border: 1px solid black;
  border-collapse: collapse;
}

#greenColor {
  background-color:green;
  color: white;
}
.lightYellow {
  background-color: rgb(247, 247, 160);
}
.pastelYellow {
  background-color: rgb(244, 247, 106);
}