table{
  width: 35%;
  text-align: center;
}
table,th,td {
  border: 1px solid black;
  border-collapse: collapse;
}

#greenColor {
  background-color:green;
  color: white;
}
.lightGreen {
  background-color: rgb(159, 238, 159);
}
.pastelGreen {
  background-color: rgb(187, 243, 187);
}